{{!-- <h1>Welcome to Good Burger!</h1>
<h1>Home of the Good Burger!</h1> --}}
<img src="https://laistassets.scprdev.org/i/81e72a4f55886c30eaaeb4b01055adc0/5d07c9b9f4faed0009dd3df3-eight.jpg"
    class="img-fluid rounded" alt="Responsive image">
<h2> Can I take your order?</h2>
<div class="container clearfix">
    <div class="ordered">
        <h3> Burgers you have ordered:</h3>
        <div class="burgers_ordered rounded">
            {{#each burger}}
            {{#unless devoured}}
            <li>
                {{id}}
                {{burger_name}}

                <button data-burgerid="{{id}}" class="devburger" data-devState="{{devoured}}">Devour</button>

            </li>

            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="eaten ">
        <h3>Burgers you have eaten:</h3>
        <div class="burgers_eaten rounded">
            {{#each burger}}
            {{#if devoured}}
            <li>
                {{id}}
                {{burger_name}}

            </li>
            {{/if}}
            {{/each}}


        </div>

    </div>
</div>
<div class="ordering">
    {{!-- <form class="create-form">

        <div class="form-group">
            <label for="burgerName">Your Order:</label>
            <input type="text" id="add_burger" name="burger_name">
            <button type="submit" id="clickSubmit">Complete Order!</button>
        </div>
    </form> --}}
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            {{!-- <label for="burgerInput" class="sr-only">Burger</label> --}}
            <input type="text" class="form-control" id="add_burger" placeholder="Burger">
        </div>
        <button type="submit" id="clickSumbit" class="btn btn-primary mb-2">Complete Ordered</button>
    </form>
</div>